@{
    Layout = null;
}
<!doctype html>
<html>
<head>
    <title>Dishes</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width">
</head>
<body>
<div>
    <a href="/">back</a><br><br>
</div>
<div>
    <a href="/Dishes/All">show list of all dishes</a><br>
    <a href="/Dishes/GetByName">find dishes by name\n</a><br>
</div>
</body>
</html>