@model IEnumerable<RestaurantSystem.DataModel.DishType<int>>
@{
    Layout = null;
    ViewData["Title"] = "Login";
}
<!doctype html>
<html>
<head>
    <title>Dishes with name</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width">
</head>
<body>
<div>
    <a href="/Dishes">back</a>
</div>
<form action="/Dishes/GetByName">
    <input type="text" name="name" />
    <input type="submit" value="submit" />
</form>
<table>
    @foreach (var dishType in Model)
    {
        <tr>
            <td>@dishType.Name</td> 
            <td>@dishType.Description</td>
            <td><a href="/Dishes/@dishType.Id">show all sises</a></td>
        </tr>
    }
</table>
</body>
</html>