@model IEnumerable<RestaurantSystem.DataModel.Dish<int>>
@{
    Layout = null;
}
<!doctype html>
<html>
<head>
    <title>All dish types</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width">
</head>
<body>
<div>
    <a href="/Dishes">back</a>
</div>
<table>
    @foreach (var dish in Model)
    {
        <tr>
            <td>@dish.Weight</td>
            <td>@dish.Price</td>
            <td><a href="/Basket/Remove/@dish.Id">remove</a></td>
        </tr>
    }
</table>
</body>
</html>